@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
}

:root{
    --text-color :#8a8a8a;
    --text-color-2 : #1166c2;
    --background-color : #f3f2ef;
}

p{
    color:  var(--text-color);
}

body{
    background-color: var(--background-color);
}


main{
    display: flex;
    padding: 2rem 8.438rem 0 8.438rem;
    gap: 2rem;
}

.left-content, .right-content, .middle-content{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
}

.left-content, .right-content{
    width: 270px;
    height: 73vh;
    max-width: 73vh;
    /* height: 500px; */
}

.profile-preview{
    border-radius: 8px;
    background-color: white;
    /* height: 500px; */
    overflow: hidden;
}

.profile-preview > .profile-preview-items{
    /* min-height: 36px; */
    /* width: 100%; */
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    padding: 8px 10px;
}

.profile-preview-items > a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.profile-preview-items > a:hover{
    background-color: var(--background-color);
}

.profile-preview-items > a > p:nth-child(2){
    color: var(--text-color-2);
}

.profile-preview-items:nth-child(2),
.profile-preview-items:nth-child(3),
.profile-preview-items:nth-child(4)
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bg-holder{
    height: 54px;
    overflow: hidden;
    background-image: url('./img/bg-holder.png');
    background-size: cover;
}

.bg-profile-photo{
    height: 68px;
    width: 68px;
    background-image: url('img/profile.jpg');
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform:  translateX(-50%);
}

.name-description{
    text-align: center;
    /* padding-top: 64px 10px 16px 10px; */
    padding-top: 40px;
}

.name-description h3{
    color: rgba(0,0,0,0.9);
    font-size: 1rem;
    line-height: 1.5;
}

.name-description p{
    font-size: .9rem;
}

.profile-preview-items h4{
    padding: 2px 10px;
    color: #8a8a8a;
    font-size: 1rem;
}

.profile-preview-items ul.marquee-with-options{
    margin-top: .1rem;
    min-height: 5rem;
    max-height: 5rem;
    overflow: auto;
}

.profile-preview-items ul.marquee-with-options li{
    padding: .5rem;
}

.profile-preview-items ul.marquee-with-options li a.WeddingList{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    font-size: .9rem;
}

.profile-preview-items ul.marquee-with-options li:hover{
    background-color: var(--background-color);
}

.imgProfile {
    height: 20px;
    width: 20px;
}

.imgProfile {
    margin-right: 5px;
}

.middle-content{
    flex-grow: 3;
}

/*main*/

.feed {
    overflow: visible;
    height: 100%!important;
    background-color:#fff !important;
    border-radius:0.8rem !important;
    border: none!important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
}

.infoBox {
    background: #fff;
    /* border-radius: 10px; */
    position: relative;
    padding: 10px;
    /* box-shadow: 0px 0px 25px #999; */
    /* border: 1px solid #bbb; */
    overflow: hidden;
    float: left;
    /* width: 100%; */
}

.infoBox h2 {
    font-size: 18px;
    color: rgb(133,122,42);
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.chat {
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: 100%!important;
    background-color:#fff !important;
    border-radius:0.8rem !important;
    border: none!important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
    overflow: hidden;
    padding: 0 0.3rem;
}

.chat section{
    display: block;
    position: relative;
    flex-grow: 1;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat section .conversation-list{
    background-color: transparent;
    flex: 1;
}

.chat section .conversation-list .conversation-item{
    height: 66px;
}

.conversation-card{
    display: flex;
    width: 100%;
    padding-left: 8px;
    height: inherit;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    left: 0;
    align-items: center;
}

/* .img-card{
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.img-card img{
    width: 48px;
    height: 48px;
    background-size: cover;
}

.coversation-content {
    height: auto;
    padding: 8px 12px 8px 8px;
    display: flex;
    flex-grow: 1;
    vertical-align: top;
    /* border-bottom: 1px solid lightgray; */
    justify-content: space-between;
    overflow: hidden;
}

.content-wrapper{
    width: 100%;
    flex-grow: 2;
    float: left!important;
}

.cont-row{
    display: flex;
}

.cont-row h3{
    flex: 1;
    width: 0;
}

.cont-row p{
    margin-left: auto;
    overflow: hidden;
    white-space: nowrap;
    font-size: .9rem;
    line-height: 1.33;
    font-weight: bold;
}

.cont-row p.msg{
    width: 100%;
}

.chat-footer{
    margin-bottom: 0;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #fff;
}

.chat-footer-inner {
    margin-left: 5px;
    margin-right: 5px;
}

.footer_text input[type="text"] {
    border: none;
    padding: 8px 5px 8px 8px;
    margin: 0;
    font-size: 14px;
    outline: 0;
    width: 80%;
    border-right: 1px solid #e0e4e7;
    color: #5a5a5a;
    border: 1px solid #e0e4e7;
    border-radius: 25px;
}

.footer_text input::placeholder {
    color: #B0BEC5;
}

.textboxCarry{
    display: flex;
    align-items: center;
}

.textboxCarry button{
    background: transparent;
    border: none;
    outline: none;
}

.textboxCarry img {
    width: 25px;
    margin-left: 10px;
}

























.marquee-with-options::-webkit-scrollbar,
.chat section::-webkit-scrollbar {
    width: 5px;            
  }
  
  .marquee-with-options::-webkit-scrollbar-track,
  .chat section::-webkit-scrollbar-track {
    background: transparent;     
  }
  
  .marquee-with-options::-webkit-scrollbar-thumb,
  .chat section::-webkit-scrollbar-thumb {
    background-color: #ddd; 
    border-radius: 20px;     
    border: 2px solid #ddd;  
  }